<html>
        <head>
                <style>
                table {
                    font-family: arial, sans-serif;
                    border-collapse: collapse;
                    width: 100%;
                }
                
                td, th {
                    border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;
                }
                
                tr:nth-child(even) {
                    background-color: #dddddd;
                }
                </style>
                </head>
<body>
  
    <h1> GUC Comments</h1>
    {{range $i, $e := . }}
    {{if eq $i  0}}
    <h2>{{.Title}} </h2>
    {{end}}
    {{end}}

<select onchange="rout(this.value)">
  <option>  </option>
  <option value="http://localhost:3000/MICRO">CSEN 702 Microprocessors </option>
  <option value="http://localhost:3000/ANALYSIS">CSEN 703 Analysis and Design of Algorithms </option>
  <option value="http://localhost:3000/ADVANCED">CSEN 704 Advanced computer lab </option>
</select>

<script>
function rout(src){
    window.location.href=src;
}

</script>
<table>
    <tr>
        <th>Comments</th>
    </tr>
    {{range .}}
    <tr>
        <td>
            {{.Comments}}
        </td>
    </tr>
     {{end}}   
</table>
</body>
</html>